<h1 mat-dialog-title>Adicionar item</h1>
<form [formGroup]="prodConsumido" (ngSubmit)="consumo()">
<div mat-dialog-content>
  <p>Qual item você consumiu?</p>
  <mat-form-field appearance="fill">
    <mat-label>Selecione</mat-label>
    <mat-select formControlName="prod">
      <mat-option *ngFor="let item of produtos" [value]="item">{{item.Produto}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<p>Quantas pessoas consumiram ?</p>
<mat-form-field appearance="fill">
  <mat-label>Pessoa(s)</mat-label>
  <input matInput formControlName="pessoas">
</mat-form-field>
<div mat-dialog-actions class="botoes">
  <button mat-raised-button [disabled]="!prodConsumido.valid" color="primary">Lançar</button>
</div>
</form>
<div mat-dialog-actions class="botoes">
<button mat-raised-button (click)="cancelar()" color="warn">Cancelar</button>
</div>
